# -----------------------------------------
# Editor / OS Files / Virtual Environments
# -----------------------------------------
.vscode
.DS_Store
.env


# -----------------------------------------
# Python Cache / Build Artifacts / Jupyter
# -----------------------------------------
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/


# -----------------------------------------
# Dataset Files
# -----------------------------------------
/data/**/*.tif


# -----------------------------------------
# Smoke Files
# -----------------------------------------
/splits/**/*.tif


# -----------------------------------------
# Experiments
# -----------------------------------------
/experiments/**/*.pth
/experiments/**/*.csv
/experiments/**/*.json
/experiments/**/*.png


# -----------------------------------------
# Old or Deprecated Code
# -----------------------------------------
code/old/*.*

