# -----------------------------------------
# Editor / OS Files / Virtual Environments
# -----------------------------------------
.vscode
.DS_Store
.env


# -----------------------------------------
# Python Cache / Build Artifacts / Jupyter
# -----------------------------------------
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/


# -----------------------------------------
# Dataset Files
# -----------------------------------------
/data/*/patches/*.tif
/data/*/patches/*.csv
/data/**/*.tif
/data/**/*.geojson


# -----------------------------------------
# Smoke Files
# -----------------------------------------
/splits/**/*.tif
/splits/**/*.csv


# -----------------------------------------
# Model Weights
# -----------------------------------------
/experiments/**/*.pth
/experiments/**/*.pt


# -----------------------------------------
# Old or Deprecated Code
# -----------------------------------------
code/old/*.*

