# -----------------------------------------
# Editor / OS Files / Virtual Environments
# -----------------------------------------
.vscode
.DS_Store
.env


# -----------------------------------------
# Python Cache / Build Artifacts / Jupyter
# -----------------------------------------
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/


# -----------------------------------------
# Dataset Files
# -----------------------------------------
data/*.zip
data/*/patches/*.tif
data/*/patches/*.csv


# -----------------------------------------
# Smoke Files
# -----------------------------------------
smoke/**/*.tif
smoke/**/*.csv


# -----------------------------------------
# Model Weights
# -----------------------------------------
models/**/*.pth
models/**/*.pt


# -----------------------------------------
# Old or Deprecated Code
# -----------------------------------------
code/old/*.*

